{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "WorkbenchApiV4"
  },
  "host": "web.workbench.co.nz",
  "basePath": "/WorkbenchV4",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/AccountApi": {
      "get": {
        "tags": [
          "AccountApi"
        ],
        "summary": "AccountApi_Get",
        "operationId": "AccountApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountApiModel"
            }
          }
        },
        "description": "AccountApi_Get"
      }
    },
    "/api/ActivityListApi": {
      "post": {
        "tags": [
          "ActivityListApi"
        ],
        "summary": "ActivityListApi_Post",
        "operationId": "ActivityListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_AdminActivityLine"
            }
          }
        },
        "description": "ActivityListApi_Post"
      }
    },
    "/api/ActivityLookupApi": {
      "post": {
        "tags": [
          "ActivityLookupApi"
        ],
        "summary": "ActivityLookupApi_Post",
        "operationId": "ActivityLookupApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_LookupsActivityLine"
            }
          }
        },
        "description": "ActivityLookupApi_Post"
      }
    },
    "/api/APCreditDetailApi": {
      "get": {
        "tags": [
          "APCreditDetailApi"
        ],
        "summary": "APCreditDetailApi_Get",
        "operationId": "APCreditDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "aPInvoiceId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchNo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pONo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "personId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isApCredit",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "fileUrl",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "completed",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        },
        "description": "APCreditDetailApi_Get"
      },
      "post": {
        "tags": [
          "APCreditDetailApi"
        ],
        "operationId": "APCreditDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        },
        "description": "APCreditDetailApi_Post",
        "summary": "APCreditDetailApi_Post"
      },
      "delete": {
        "tags": [
          "APCreditDetailApi"
        ],
        "summary": "APCreditDetailApi_Delete",
        "operationId": "APCreditDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APProcessingAPInvoiceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        },
        "description": "APCreditDetailApi_Delete"
      }
    },
    "/api/APInvoiceApprovalApi": {
      "post": {
        "tags": [
          "APInvoiceApprovalApi"
        ],
        "summary": "APInvoiceApprovalApi_Post",
        "operationId": "APInvoiceApprovalApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Provide APInvoice ID to approve, and the approver Person ID",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APProcessingAPInvoiceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResult"
            }
          }
        },
        "description": "APInvoiceApprovalApi_Post"
      }
    },
    "/api/APInvoiceDetailApi": {
      "get": {
        "tags": [
          "APInvoiceDetailApi"
        ],
        "summary": "APInvoiceDetailApi_Get",
        "operationId": "APInvoiceDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "aPInvoiceId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchNo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pONo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "personId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isApCredit",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "fileUrl",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "completed",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        },
        "description": "APInvoiceDetailApi_Get"
      },
      "post": {
        "tags": [
          "APInvoiceDetailApi"
        ],
        "summary": "APInvoiceDetailApi_Post",
        "operationId": "APInvoiceDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Accepts previously created AP Invoice",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        },
        "description": "APInvoiceDetailApi_Post"
      },
      "delete": {
        "tags": [
          "APInvoiceDetailApi"
        ],
        "summary": "APInvoiceDetailApi_Delete",
        "operationId": "APInvoiceDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APProcessingAPInvoiceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoiceJobTransactionApi"
            }
          }
        },
        "description": "APInvoiceDetailApi_Delete"
      }
    },
    "/api/APInvoiceListApi": {
      "post": {
        "tags": [
          "APInvoiceListApi"
        ],
        "summary": "APInvoiceListApi_Post",
        "operationId": "APInvoiceListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_APProcessingAPInvoiceLine"
            }
          }
        },
        "description": "APInvoiceListApi_Post"
      }
    },
    "/api/APInvoicePurchaseOrderDetailApi": {
      "get": {
        "tags": [
          "APInvoicePurchaseOrderDetailApi"
        ],
        "summary": "APInvoicePurchaseOrderDetailApi_Get",
        "operationId": "APInvoicePurchaseOrderDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "aPInvoiceId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchNo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pONo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "personId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isApCredit",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "fileUrl",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "completed",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoicePurchaseOrderApi"
            }
          }
        },
        "description": "APInvoicePurchaseOrderDetailApi_Get"
      },
      "post": {
        "tags": [
          "APInvoicePurchaseOrderDetailApi"
        ],
        "summary": "APInvoicePurchaseOrderDetailApi_Post",
        "operationId": "APInvoicePurchaseOrderDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APInvoicePurchaseOrderApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoicePurchaseOrderApi"
            }
          }
        },
        "description": "APInvoicePurchaseOrderDetailApi_Post"
      },
      "delete": {
        "tags": [
          "APInvoicePurchaseOrderDetailApi"
        ],
        "operationId": "APInvoicePurchaseOrderDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APProcessingAPInvoiceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/APInvoicePurchaseOrderApi"
            }
          }
        },
        "description": "APInvoicePurchaseOrderDetailApi_Delete",
        "summary": "APInvoicePurchaseOrderDetailApi_Delete"
      }
    },
    "/api/APInvoiceUnapprovalApi": {
      "post": {
        "tags": [
          "APInvoiceUnapprovalApi"
        ],
        "summary": "APInvoiceUnapprovalApi_Post",
        "operationId": "APInvoiceUnapprovalApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "Provide APInvoice ID to unapprove, and the unapprover Person ID",
            "required": true,
            "schema": {
              "$ref": "#/definitions/APProcessingAPInvoiceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResult"
            }
          }
        },
        "description": "APInvoiceUnapprovalApi_Post"
      }
    },
    "/api/BatchDetailApi": {
      "get": {
        "tags": [
          "BatchDetailApi"
        ],
        "summary": "BatchDetailApi_Get",
        "operationId": "BatchDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchNo",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "batchType",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobTransactionApiModel"
            }
          }
        },
        "description": "BatchDetailApi_Get"
      },
      "post": {
        "tags": [
          "BatchDetailApi"
        ],
        "summary": "BatchDetailApi_Post",
        "operationId": "BatchDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "changedModel",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobTransactionApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobTransactionApiModel"
            }
          }
        },
        "description": "BatchDetailApi_Post"
      },
      "delete": {
        "tags": [
          "BatchDetailApi"
        ],
        "summary": "BatchDetailApi_Delete",
        "operationId": "BatchDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobTransactionsJobTransactionKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobTransactionApiModel"
            }
          }
        },
        "description": "BatchDetailApi_Delete"
      }
    },
    "/api/BatchListApi": {
      "get": {
        "tags": [
          "BatchListApi"
        ],
        "summary": "BatchListApi_Get",
        "operationId": "BatchListApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "docDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "locationCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "finCoCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "batchGroup",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SystemBatchApiModel"
            }
          }
        },
        "description": "BatchListApi_Get"
      },
      "post": {
        "tags": [
          "BatchListApi"
        ],
        "summary": "BatchListApi_Post",
        "operationId": "BatchListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_BatchBatchLine"
            }
          }
        },
        "description": "BatchListApi_Post"
      }
    },
    "/api/CompanyDetailApi": {
      "get": {
        "tags": [
          "CompanyDetailApi"
        ],
        "summary": "CompanyDetailApi_Get",
        "operationId": "CompanyDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyApiModel"
            }
          }
        },
        "description": "CompanyDetailApi_Get"
      },
      "post": {
        "tags": [
          "CompanyDetailApi"
        ],
        "summary": "CompanyDetailApi_Post",
        "operationId": "CompanyDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "If Key.CompanyID=0 it will create a new company.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyApiModel"
            }
          }
        },
        "description": "CompanyDetailApi_Post"
      },
      "delete": {
        "tags": [
          "CompanyDetailApi"
        ],
        "operationId": "CompanyDetailApi_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyApiModel"
            }
          }
        },
        "description": "CompanyDetailApi_Delete",
        "summary": "CompanyDetailApi_Delete"
      }
    },
    "/api/CompanyListApi": {
      "get": {
        "tags": [
          "CompanyListApi"
        ],
        "summary": "CompanyListApi_Get",
        "operationId": "CompanyListApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_GeneralCompanyLine"
            }
          }
        },
        "description": "CompanyListApi_Get"
      },
      "post": {
        "tags": [
          "CompanyListApi"
        ],
        "summary": "CompanyListApi_Post",
        "operationId": "CompanyListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_GeneralCompanyLine"
            }
          }
        },
        "description": "CompanyListApi_Post"
      }
    },
    "/api/ControlParametersApi": {
      "get": {
        "tags": [
          "ControlParametersApi"
        ],
        "operationId": "ControlParametersApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ControlParameterApiModel"
            }
          }
        },
        "description": "ControlParametersApi_Get",
        "summary": "ControlParametersApi_Get"
      }
    },
    "/api/DataImportDetailApi": {
      "get": {
        "tags": [
          "DataImportDetailApi"
        ],
        "summary": "DataImportDetailApi_Get",
        "operationId": "DataImportDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "importId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataImportApiModel"
            }
          }
        },
        "description": "DataImportDetailApi_Get"
      },
      "post": {
        "tags": [
          "DataImportDetailApi"
        ],
        "summary": "DataImportDetailApi_Post",
        "operationId": "DataImportDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataImportApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataImportApiModel"
            }
          }
        },
        "description": "DataImportDetailApi_Post"
      }
    },
    "/api/DataImportListApi": {
      "post": {
        "tags": [
          "DataImportListApi"
        ],
        "summary": "DataImportListApi_Post",
        "operationId": "DataImportListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_AdminImportHeaderLine"
            }
          }
        },
        "description": "DataImportListApi_Post"
      }
    },
    "/api/DatasheetDetailApi": {
      "get": {
        "tags": [
          "DatasheetDetailApi"
        ],
        "operationId": "DatasheetDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "datasheetId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "datasheetTemplateId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatasheetApiModel"
            }
          }
        },
        "description": "DatasheetDetailApi_Get",
        "summary": "DatasheetDetailApi_Get"
      },
      "post": {
        "tags": [
          "DatasheetDetailApi"
        ],
        "operationId": "DatasheetDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasheetApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatasheetApiModel"
            }
          }
        },
        "description": "DatasheetDetailApi_Post",
        "summary": "DatasheetDetailApi_Post"
      },
      "delete": {
        "tags": [
          "DatasheetDetailApi"
        ],
        "operationId": "DatasheetDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasheetsDatasheetKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatasheetApiModel"
            }
          }
        },
        "description": "DatasheetDetailApi_Delete",
        "summary": "DatasheetDetailApi_Delete"
      }
    },
    "/api/DatasheetListApi": {
      "put": {
        "tags": [
          "DatasheetListApi"
        ],
        "operationId": "DatasheetListApi_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasheetsDialogFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SaveResult"
            }
          }
        },
        "description": "DatasheetListApi_Put",
        "summary": "DatasheetListApi_Put"
      },
      "post": {
        "tags": [
          "DatasheetListApi"
        ],
        "operationId": "DatasheetListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_DatasheetsDatasheetModelLine"
            }
          }
        },
        "description": "DatasheetListApi_Post",
        "summary": "DatasheetListApi_Post"
      }
    },
    "/api/DatasheetTemplateListApi": {
      "post": {
        "tags": [
          "DatasheetTemplateListApi"
        ],
        "operationId": "DatasheetTemplateListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_DatasheetsTemplateLine"
            }
          }
        },
        "description": "DatasheetTemplateListApi_Post",
        "summary": "DatasheetTemplateListApi_Post"
      }
    },
    "/api/GridManagementApi": {
      "get": {
        "tags": [
          "GridManagementApi"
        ],
        "operationId": "GridManagementApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "layoutName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridModel"
            }
          }
        },
        "description": "GridManagementApi_Get",
        "summary": "GridManagementApi_Get"
      },
      "post": {
        "tags": [
          "GridManagementApi"
        ],
        "operationId": "GridManagementApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridModel"
            }
          }
        },
        "description": "GridManagementApi_Post",
        "summary": "GridManagementApi_Post"
      },
      "delete": {
        "tags": [
          "GridManagementApi"
        ],
        "operationId": "GridManagementApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api_Controllers_GridApiKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridModel"
            }
          }
        },
        "description": "GridManagementApi_Delete",
        "summary": "GridManagementApi_Delete"
      }
    },
    "/api/JobBudgetDetailApi": {
      "get": {
        "tags": [
          "JobBudgetDetailApi"
        ],
        "operationId": "JobBudgetDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "estimateId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "estimateLineId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bomQuantity",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "isJournal",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobBudgetApiModel"
            }
          }
        },
        "description": "JobBudgetDetailApi_Get",
        "summary": "JobBudgetDetailApi_Get"
      },
      "post": {
        "tags": [
          "JobBudgetDetailApi"
        ],
        "operationId": "JobBudgetDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "changedModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobBudgetApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobBudgetApiModel"
            }
          }
        },
        "description": "JobBudgetDetailApi_Post",
        "summary": "JobBudgetDetailApi_Post"
      },
      "delete": {
        "tags": [
          "JobBudgetDetailApi"
        ],
        "operationId": "JobBudgetDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BudgetJobBudgetKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobBudgetApiModel"
            }
          }
        },
        "description": "JobBudgetDetailApi_Delete",
        "summary": "JobBudgetDetailApi_Delete"
      }
    },
    "/api/JobBudgetListApi": {
      "post": {
        "tags": [
          "JobBudgetListApi"
        ],
        "summary": "JobBudgetListApi_Post",
        "operationId": "JobBudgetListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_BudgetJobBudgetLine"
            }
          }
        },
        "description": "JobBudgetListApi_Post"
      }
    },
    "/api/JobDetailApi": {
      "get": {
        "tags": [
          "JobDetailApi"
        ],
        "summary": "JobDetailApi_Get",
        "operationId": "JobDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobCode",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobApiModel"
            }
          }
        },
        "description": "JobDetailApi_Get"
      },
      "post": {
        "tags": [
          "JobDetailApi"
        ],
        "operationId": "JobDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobApiModel"
            }
          }
        },
        "description": "JobDetailApi_Post",
        "summary": "JobDetailApi_Post"
      },
      "delete": {
        "tags": [
          "JobDetailApi"
        ],
        "operationId": "JobDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralJobKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobApiModel"
            }
          }
        },
        "description": "JobDetailApi_Delete",
        "summary": "JobDetailApi_Delete"
      }
    },
    "/api/JobListApi": {
      "post": {
        "tags": [
          "JobListApi"
        ],
        "summary": "JobListApi_Post",
        "operationId": "JobListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_GeneralJobLine"
            }
          }
        },
        "description": "JobListApi_Post"
      }
    },
    "/api/JobMaintenanceApi": {
      "get": {
        "tags": [
          "JobMaintenanceApi"
        ],
        "summary": "JobMaintenanceApi_Get",
        "operationId": "JobMaintenanceApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobDescription",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobMaintenanceApiModel"
            }
          }
        },
        "description": "JobMaintenanceApi_Get"
      },
      "post": {
        "tags": [
          "JobMaintenanceApi"
        ],
        "summary": "JobMaintenanceApi_Post",
        "operationId": "JobMaintenanceApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobMaintenanceApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobMaintenanceApiModel"
            }
          }
        },
        "description": "JobMaintenanceApi_Post"
      },
      "delete": {
        "tags": [
          "JobMaintenanceApi"
        ],
        "summary": "JobMaintenanceApi_Delete",
        "operationId": "JobMaintenanceApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobsMaintenanceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobMaintenanceApiModel"
            }
          }
        },
        "description": "JobMaintenanceApi_Delete"
      }
    },
    "/api/LogErrorApi": {
      "post": {
        "tags": [
          "LogErrorApi"
        ],
        "summary": "LogErrorApi_Post",
        "operationId": "LogErrorApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogErrorApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogErrorApiModel"
            }
          }
        },
        "description": "LogErrorApi_Post"
      }
    },
    "/api/LogHeaderApi": {
      "get": {
        "tags": [
          "LogHeaderApi"
        ],
        "summary": "LogHeaderApi_Get",
        "operationId": "LogHeaderApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logHeaderId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogHeaderApiModel"
            }
          }
        },
        "description": "LogHeaderApi_Get"
      },
      "post": {
        "tags": [
          "LogHeaderApi"
        ],
        "summary": "LogHeaderApi_Post",
        "operationId": "LogHeaderApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogHeaderApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogHeaderApiModel"
            }
          }
        },
        "description": "LogHeaderApi_Post"
      },
      "delete": {
        "tags": [
          "LogHeaderApi"
        ],
        "summary": "LogHeaderApi_Delete",
        "operationId": "LogHeaderApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TabletLogMaintenanceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogHeaderApiModel"
            }
          }
        },
        "description": "LogHeaderApi_Delete"
      }
    },
    "/api/LogListApi": {
      "post": {
        "tags": [
          "LogListApi"
        ],
        "summary": "LogListApi_Post",
        "operationId": "LogListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_ServiceDeskLine"
            }
          }
        },
        "description": "LogListApi_Post"
      }
    },
    "/api/LogMaintenanceApi": {
      "get": {
        "tags": [
          "LogMaintenanceApi"
        ],
        "operationId": "LogMaintenanceApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "logHeaderId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogApiModel"
            }
          }
        },
        "description": "LogMaintenanceApi_Get",
        "summary": "LogMaintenanceApi_Get"
      },
      "put": {
        "tags": [
          "LogMaintenanceApi"
        ],
        "operationId": "LogMaintenanceApi_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogApiModel"
            }
          }
        },
        "description": "LogMaintenanceApi_Put",
        "summary": "LogMaintenanceApi_Put"
      },
      "post": {
        "tags": [
          "LogMaintenanceApi"
        ],
        "operationId": "LogMaintenanceApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogApiModel"
            }
          }
        },
        "description": "LogMaintenanceApi_Post",
        "summary": "LogMaintenanceApi_Post"
      },
      "delete": {
        "tags": [
          "LogMaintenanceApi"
        ],
        "operationId": "LogMaintenanceApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TabletLogMaintenanceKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogApiModel"
            }
          }
        },
        "description": "LogMaintenanceApi_Delete",
        "summary": "LogMaintenanceApi_Delete"
      }
    },
    "/api/LogServiceAgreementApi": {
      "put": {
        "tags": [
          "LogServiceAgreementApi"
        ],
        "summary": "LogServiceAgreementApi_Put",
        "operationId": "LogServiceAgreementApi_Put",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "serviceAgreementID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "serviceAgreementCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderNo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "allocatedPersonId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "assetID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogServiceAgreementApiKey"
            }
          }
        },
        "description": "LogServiceAgreementApi_Put"
      }
    },
    "/api/PeopleDetailApi": {
      "get": {
        "tags": [
          "PeopleDetailApi"
        ],
        "summary": "PeopleDetailApi_Get",
        "operationId": "PeopleDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeopleApiModel"
            }
          }
        },
        "description": "PeopleDetailApi_Get"
      },
      "post": {
        "tags": [
          "PeopleDetailApi"
        ],
        "summary": "PeopleDetailApi_Post",
        "operationId": "PeopleDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeopleApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeopleApiModel"
            }
          }
        },
        "description": "PeopleDetailApi_Post"
      },
      "delete": {
        "tags": [
          "PeopleDetailApi"
        ],
        "operationId": "PeopleDetailApi_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeopleApiModel"
            }
          }
        },
        "description": "PeopleDetailApi_Delete",
        "summary": "PeopleDetailApi_Delete"
      }
    },
    "/api/PeopleListApi": {
      "post": {
        "tags": [
          "PeopleListApi"
        ],
        "summary": "PeopleListApi_Post",
        "operationId": "PeopleListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_GeneralPersonLine"
            }
          }
        },
        "description": "PeopleListApi_Post"
      }
    },
    "/api/PlantListApi": {
      "post": {
        "tags": [
          "PlantListApi"
        ],
        "summary": "PlantListApi_Post",
        "operationId": "PlantListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_PlantPlantItemLine"
            }
          }
        },
        "description": "PlantListApi_Post"
      }
    },
    "/api/PlantLookupApi": {
      "post": {
        "tags": [
          "PlantLookupApi"
        ],
        "summary": "PlantLookupApi_Post",
        "operationId": "PlantLookupApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_LookupsPlantLineModel"
            }
          }
        },
        "description": "PlantLookupApi_Post"
      }
    },
    "/api/PurchaseOrderDefaultsApi": {
      "get": {
        "tags": [
          "PurchaseOrderDefaultsApi"
        ],
        "summary": "PurchaseOrderDefaultsApi_Get",
        "operationId": "PurchaseOrderDefaultsApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "purchaseOrderLineId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "purchaserId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "finCoCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lineCode",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activityCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "workCentreCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "gstTypeCode",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PurchaseOrdersDetailLine"
            }
          }
        },
        "description": "PurchaseOrderDefaultsApi_Get"
      }
    },
    "/api/PurchaseOrderDetailApi": {
      "get": {
        "tags": [
          "PurchaseOrderDetailApi"
        ],
        "summary": "PurchaseOrderDetailApi_Get",
        "operationId": "PurchaseOrderDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pONumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderApiModel"
            }
          }
        },
        "description": "PurchaseOrderDetailApi_Get"
      },
      "put": {
        "tags": [
          "PurchaseOrderDetailApi"
        ],
        "operationId": "PurchaseOrderDetailApi_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrderApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderApiModel"
            }
          }
        },
        "description": "PurchaseOrderDetailApi_Put",
        "summary": "PurchaseOrderDetailApi_Put"
      },
      "post": {
        "tags": [
          "PurchaseOrderDetailApi"
        ],
        "summary": "PurchaseOrderDetailApi_Post",
        "operationId": "PurchaseOrderDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrderApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderApiModel"
            }
          }
        },
        "description": "PurchaseOrderDetailApi_Post"
      },
      "delete": {
        "tags": [
          "PurchaseOrderDetailApi"
        ],
        "summary": "PurchaseOrderDetailApi_Delete",
        "operationId": "PurchaseOrderDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrdersKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderApiModel"
            }
          }
        },
        "description": "PurchaseOrderDetailApi_Delete"
      }
    },
    "/api/PurchaseOrderListApi": {
      "post": {
        "tags": [
          "PurchaseOrderListApi"
        ],
        "summary": "PurchaseOrderListApi_Post",
        "operationId": "PurchaseOrderListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_PurchaseOrdersListItem"
            }
          }
        },
        "description": "PurchaseOrderListApi_Post"
      }
    },
    "/api/QuoteDetailApi": {
      "get": {
        "tags": [
          "QuoteDetailApi"
        ],
        "operationId": "QuoteDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "quoteID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "quoteNo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "currencyCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isNew",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuoteApiModel"
            }
          }
        },
        "description": "QuoteDetailApi_Get",
        "summary": "QuoteDetailApi_Get"
      },
      "post": {
        "tags": [
          "QuoteDetailApi"
        ],
        "operationId": "QuoteDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "changedModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuoteApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuoteApiModel"
            }
          }
        },
        "description": "QuoteDetailApi_Post",
        "summary": "QuoteDetailApi_Post"
      },
      "delete": {
        "tags": [
          "QuoteDetailApi"
        ],
        "operationId": "QuoteDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuotesQuoteKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuoteApiModel"
            }
          }
        },
        "description": "QuoteDetailApi_Delete",
        "summary": "QuoteDetailApi_Delete"
      }
    },
    "/api/QuoteLineLabourSellingRate": {
      "get": {
        "tags": [
          "QuoteLineLabourSellingRate"
        ],
        "operationId": "QuoteLineLabourSellingRate_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "priceCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "activityCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "employeeClassCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuoteLineSellingRateModel"
            }
          }
        },
        "description": "QuoteLineLabourSellingRate_Get",
        "summary": "QuoteLineLabourSellingRate_Get"
      }
    },
    "/api/QuoteLineMaterialSellingRate": {
      "get": {
        "tags": [
          "QuoteLineMaterialSellingRate"
        ],
        "operationId": "QuoteLineMaterialSellingRate_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "priceCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lineType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "catalogueLineId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activityCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rateCode",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuoteLineSellingRateModel"
            }
          }
        },
        "description": "QuoteLineMaterialSellingRate_Get",
        "summary": "QuoteLineMaterialSellingRate_Get"
      }
    },
    "/api/QuoteLinePlantSellingRate": {
      "get": {
        "tags": [
          "QuoteLinePlantSellingRate"
        ],
        "operationId": "QuoteLinePlantSellingRate_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "priceCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activityCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "rateCode",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QuoteLineSellingRateModel"
            }
          }
        },
        "description": "QuoteLinePlantSellingRate_Get",
        "summary": "QuoteLinePlantSellingRate_Get"
      }
    },
    "/api/QuoteListApi": {
      "post": {
        "tags": [
          "QuoteListApi"
        ],
        "summary": "QuoteListApi_Post",
        "operationId": "QuoteListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_QuotesListLine"
            }
          }
        },
        "description": "QuoteListApi_Post"
      }
    },
    "/api/ScaffoldDetailApi": {
      "get": {
        "tags": [
          "ScaffoldDetailApi"
        ],
        "summary": "ScaffoldDetailApi_Get",
        "operationId": "ScaffoldDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "stringId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "intId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dateId",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "stringId1",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "intId1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dateId1",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyName1",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDesc",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLine"
            }
          }
        },
        "description": "ScaffoldDetailApi_Get"
      },
      "put": {
        "tags": [
          "ScaffoldDetailApi"
        ],
        "summary": "ScaffoldDetailApi_Put",
        "operationId": "ScaffoldDetailApi_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLine"
            }
          }
        },
        "description": "ScaffoldDetailApi_Put"
      },
      "post": {
        "tags": [
          "ScaffoldDetailApi"
        ],
        "summary": "ScaffoldDetailApi_Post",
        "operationId": "ScaffoldDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLine"
            }
          }
        },
        "description": "ScaffoldDetailApi_Post"
      },
      "delete": {
        "tags": [
          "ScaffoldDetailApi"
        ],
        "summary": "ScaffoldDetailApi_Delete",
        "operationId": "ScaffoldDetailApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLine"
            }
          }
        },
        "description": "ScaffoldDetailApi_Delete"
      }
    },
    "/api/ScaffoldListApi": {
      "post": {
        "tags": [
          "ScaffoldListApi"
        ],
        "summary": "ScaffoldListApi_Post",
        "operationId": "ScaffoldListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_ScaffoldTableDataLine"
            }
          }
        },
        "description": "ScaffoldListApi_Post"
      }
    },
    "/api/ScaffoldLiteApi": {
      "get": {
        "tags": [
          "ScaffoldLiteApi"
        ],
        "summary": "ScaffoldLiteApi_Get",
        "operationId": "ScaffoldLiteApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "stringId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "intId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dateId",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "stringId1",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "intId1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dateId1",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyName1",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDesc",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLite"
            }
          }
        },
        "description": "ScaffoldLiteApi_Get"
      },
      "put": {
        "tags": [
          "ScaffoldLiteApi"
        ],
        "summary": "ScaffoldLiteApi_Put",
        "operationId": "ScaffoldLiteApi_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLite"
            }
          }
        },
        "description": "ScaffoldLiteApi_Put"
      },
      "post": {
        "tags": [
          "ScaffoldLiteApi"
        ],
        "summary": "ScaffoldLiteApi_Post",
        "operationId": "ScaffoldLiteApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLite"
            }
          }
        },
        "description": "ScaffoldLiteApi_Post"
      },
      "delete": {
        "tags": [
          "ScaffoldLiteApi"
        ],
        "summary": "ScaffoldLiteApi_Delete",
        "operationId": "ScaffoldLiteApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScaffoldTableDataLite"
            }
          }
        },
        "description": "ScaffoldLiteApi_Delete"
      }
    },
    "/api/SiteMapApi": {
      "get": {
        "tags": [
          "SiteMapApi"
        ],
        "summary": "SiteMapApi_Get",
        "operationId": "SiteMapApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteMapProfileApiModel"
            }
          }
        },
        "description": "SiteMapApi_Get"
      }
    },
    "/api/StoredFilesApi": {
      "get": {
        "tags": [
          "StoredFilesApi"
        ],
        "summary": "StoredFilesApi_Get",
        "operationId": "StoredFilesApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storedFileId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StoredFilesApiModel"
            }
          }
        },
        "description": "StoredFilesApi_Get"
      },
      "post": {
        "tags": [
          "StoredFilesApi"
        ],
        "summary": "StoredFilesApi_Post",
        "operationId": "StoredFilesApi_Post",
        "consumes": [
          "application/json",
          "application/octet-stream",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Web_Lib_FileUpload_StoredFilesApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StoredFilesApiModel"
            }
          }
        },
        "description": "StoredFilesApi_Post"
      },
      "delete": {
        "tags": [
          "StoredFilesApi"
        ],
        "summary": "StoredFilesApi_Delete",
        "operationId": "StoredFilesApi_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storedFileId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StoredFilesApiModel"
            }
          }
        },
        "description": "StoredFilesApi_Delete"
      }
    },
    "/api/StoredFilesContentApi": {
      "get": {
        "tags": [
          "StoredFilesContentApi"
        ],
        "summary": "StoredFilesContentApi_Get",
        "operationId": "StoredFilesContentApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storedFileId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "StoredFilesContentApi_Get"
      }
    },
    "/api/SubContractClaimApprovalApi": {
      "post": {
        "tags": [
          "SubContractClaimApprovalApi"
        ],
        "operationId": "SubContractClaimApprovalApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubContractClaimApiKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractsSubContractClaimSaveResult"
            }
          }
        },
        "description": "SubContractClaimApprovalApi_Post",
        "summary": "SubContractClaimApprovalApi_Post"
      }
    },
    "/api/SubContractClaimDetailApi": {
      "get": {
        "tags": [
          "SubContractClaimDetailApi"
        ],
        "summary": "SubContractClaimDetailApi_Get",
        "operationId": "SubContractClaimDetailApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subContractCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "aPInvoiceID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "jobCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "subContractCompID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractClaimApiModel"
            }
          }
        },
        "description": "SubContractClaimDetailApi_Get"
      },
      "post": {
        "tags": [
          "SubContractClaimDetailApi"
        ],
        "operationId": "SubContractClaimDetailApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubContractClaimApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractClaimApiModel"
            }
          }
        },
        "description": "SubContractClaimDetailApi_Post",
        "summary": "SubContractClaimDetailApi_Post"
      },
      "delete": {
        "tags": [
          "SubContractClaimDetailApi"
        ],
        "summary": "SubContractClaimDetailApi_Delete",
        "operationId": "SubContractClaimDetailApi_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subContractCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "aPInvoiceID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "jobCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "subContractCompID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractClaimApiModel"
            }
          }
        },
        "description": "SubContractClaimDetailApi_Delete"
      }
    },
    "/api/SubContractClaimEntryApi": {
      "get": {
        "tags": [
          "SubContractClaimEntryApi"
        ],
        "operationId": "SubContractClaimEntryApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subContractCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "apInvoiceId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractClaimEntryApiModel"
            }
          }
        },
        "description": "SubContractClaimEntryApi_Get",
        "summary": "SubContractClaimEntryApi_Get"
      },
      "post": {
        "tags": [
          "SubContractClaimEntryApi"
        ],
        "operationId": "SubContractClaimEntryApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubContractClaimEntryApiModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractClaimEntryApiModel"
            }
          }
        },
        "description": "SubContractClaimEntryApi_Post",
        "summary": "SubContractClaimEntryApi_Post"
      },
      "delete": {
        "tags": [
          "SubContractClaimEntryApi"
        ],
        "operationId": "SubContractClaimEntryApi_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subContractCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "apInvoiceId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dialogId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "gridId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractClaimEntryApiModel"
            }
          }
        },
        "description": "SubContractClaimEntryApi_Delete",
        "summary": "SubContractClaimEntryApi_Delete"
      }
    },
    "/api/SubContractClaimListApi": {
      "post": {
        "tags": [
          "SubContractClaimListApi"
        ],
        "operationId": "SubContractClaimListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_SubContractsSubContractClaimLine"
            }
          }
        },
        "description": "SubContractClaimListApi_Post",
        "summary": "SubContractClaimListApi_Post"
      }
    },
    "/api/SubContractClaimUnapprovalApi": {
      "post": {
        "tags": [
          "SubContractClaimUnapprovalApi"
        ],
        "operationId": "SubContractClaimUnapprovalApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubContractClaimApiKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubContractsSubContractClaimSaveResult"
            }
          }
        },
        "description": "SubContractClaimUnapprovalApi_Post",
        "summary": "SubContractClaimUnapprovalApi_Post"
      }
    },
    "/api/SubContractListApi": {
      "post": {
        "tags": [
          "SubContractListApi"
        ],
        "operationId": "SubContractListApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_SubContractsSubContractLine"
            }
          }
        },
        "description": "SubContractListApi_Post",
        "summary": "SubContractListApi_Post"
      }
    },
    "/api/TableApi": {
      "post": {
        "tags": [
          "TableApi"
        ],
        "summary": "TableApi_Post",
        "operationId": "TableApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TableApiRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GridResult_TableApiResponse"
            }
          }
        },
        "description": "TableApi_Post"
      }
    },
    "/api/TableRowApi": {
      "get": {
        "tags": [
          "TableRowApi"
        ],
        "summary": "TableRowApi_Get",
        "operationId": "TableRowApi_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyValue",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "columnNames",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableApiResponse"
            }
          }
        },
        "description": "TableRowApi_Get"
      },
      "put": {
        "tags": [
          "TableRowApi"
        ],
        "summary": "TableRowApi_Put",
        "operationId": "TableRowApi_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TableApiLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableApiResponse"
            }
          }
        },
        "description": "TableRowApi_Put"
      },
      "post": {
        "tags": [
          "TableRowApi"
        ],
        "summary": "TableRowApi_Post",
        "operationId": "TableRowApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TableApiLine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableApiResponse"
            }
          }
        },
        "description": "TableRowApi_Post"
      },
      "delete": {
        "tags": [
          "TableRowApi"
        ],
        "summary": "TableRowApi_Delete",
        "operationId": "TableRowApi_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TableApiKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableApiResponse"
            }
          }
        },
        "description": "TableRowApi_Delete"
      }
    },
    "/api/TimesheetAttendanceApi": {
      "post": {
        "tags": [
          "TimesheetAttendanceApi"
        ],
        "operationId": "TimesheetAttendanceApi_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GridRequestParametersApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
[...]
